.App {
  background-color: #24262b; /* #282c34 */
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #fff;
}

/* spinner */
#spinnerBackdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mySpinner {
  -webkit-animation: customSpinner 2s infinite linear;
  animation: customSpinner 2s infinite linear;
}
@-webkit-keyframes customSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes customSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* Mui customs */
.btn-primary {
  box-shadow: none !important;
  color: #f44336 !important;
}
.link-contained-secondary {
  color: #fff;
  background-color: #f44336 !important;
  text-transform: uppercase;
}
.link-outlined {
  background-color: transparent !important;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 22px;
  font-size: 0.9375rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.75;
}
.link-primary {
  color: #fff;
}
.link-secondary {
  color: #f44336;
}

/* Carousel styles */
.Carousel-active-18 {
  color: #f44336 !important;
}
.carouselHolder img {
  width: 100%;
  height: 500px;
}
.carouselHolder .flixInfo {
  position: absolute;
  bottom: 100px;
  left: 80px;
  padding: 15px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.flixInfo h2 {
  color: #f44336 !important;
  margin: 0 0 5px;
}
.flixInfo .imdb,
.flixInfo .genre {
  margin: 0 0 5px;
}
.flixInfo .watch {
  margin-top: 5px;
}

/* flix page */

#mainWrapper {
  min-height: 90vh;
}
.rowFlexi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rowFlexi > .labelFlexi {
  text-align: right;
  font-weight: bold;
  width: 50%;
  padding-right: 10px;
}
.rowFlexi > .valueFlexi {
  text-align: left;
  width: 50%;
  padding-left: 10px;
}
.rowFlexi > .valueFlexi > p {
  color: #f44336 !important;
}
.colFlexi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.primary {
  color: "#fff";
}
a.secondary,
span.secondary {
  color: #f44336;
  text-decoration: none;
  font-size: 1rem;
}
a.secondary:hover,
a.secondary:active,
span.secondary:hover,
span.secondary:active {
  color: #c41f14;
  cursor: pointer;
  text-decoration: underline;
}

/* footer styling */
#footer {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  padding: 15px 0;
}
#footer a {
  color: #f44336;
  text-decoration: none;
}
#footer a:active,
#footer a:hover,
#footer a:focus {
  text-decoration: underline;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
